/* GENERICS */

a {
    text-decoration: none;
}

/* UTILITIES */

._bg-green {
    background-color: #53BD9D;
}

._bg-dark {
    background-color: #2C3E50;
}

.text-dark {
    color: #2C3E50;
}

._bg-darkblue {
    background-color: #3A546D;
}

._bg-darkerblue {
    background-color: #2C3E50;
}

._bg-lightblue {
    background-color: #43A4B6;
}

._bg-black {
    background-color: #140F0F;
}

._bg-brightblue {
    background-color: #2E83C1;
}

._bg-blue {
    background-color: #0E38B5;
}

._bg-pink {
    background-color: #CCB2A3;
}

._bg-white {
    background-color: #FFF;
}

._h-0 {
    height: 0px;
}

/* JUMBOTRON */

#jumbotron img {
    width: 18rem;
}

/* PORTFOLIO */

#portfolio img {
    max-width: 100%;
}

/* FOOTER */

.circle {
    height: 50px;
    width: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
}

/* STARS */

._bar {
    display: inline-block;
    width: 100px;
    height: 3px;
    margin-bottom: 5px;
}