/* GENERICS */
header {
    height: 60px;
}

._card {
    height: 100%;
    background-color: #53BD9D;
}

.height-200{
    height: 200px;
}

/* UTILITIES */
.bg-green {
    background-color: #53BD9D;
}

.bg-dark {
    background-color: #2C3E50;
}

.bg-blue {
    background-color: #3A546D;
}

.bg-darkblue {
    background-color: #2C3E50;
}


/* JUMBOTRON */

#jumbotron img {
    width: 18rem;
}